:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --yellow: rgba(252, 235, 0, 1);
  --shadow: rgba(0, 0, 0, 0.1);
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --border-color: rgba(255, 255, 255, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
